@import url('https://fonts.googleapis.com/css2?family=Alice&family=Annie+Use+Your+Telescope&family=Bruno+Ace+SC&family=Cute+Font&family=Italiana&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Julius+Sans+One&family=Libre+Barcode+128+Text&display=swap');

[data-testid="stMetricValue"] {font-size: 28px;}

div.heading-con {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

p.home-header {
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-family: 'Julius Sans One'; */
    /* font-family: 'Bruno Ace SC'; */
    /* font-family: 'Cute Font'; */
    /* font-family: 'Italiana'; */
    font-family: 'Libre Barcode 128 Text';
    letter-spacing: -2px;
    font-size: 3rem;
    margin: 0px;
}

div.header-i {
    font-family: 'Libre Barcode 128 Text';
    letter-spacing: -0.5px;
    font-style: oblique 27.5deg;
    font-size: 2.9rem;
    margin: 0 -0.5rem 0 -0.125rem;
    line-height: 4.825rem;
}

span.header-motto {
    font-family: 'JetBrains', monospace;
    color: #ffffff40;
    letter-spacing: -0px;
    line-height: 1rem;
    font-weight: 400;
    font-size: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 0.4rem;
}

hr {
    border-bottom: 2px solid rgb(109, 63, 192);
    margin: 0;
}
