@import url('https://fonts.googleapis.com/css2?family=Alice&family=Annie+Use+Your+Telescope&family=Bruno+Ace+SC&family=Cute+Font&family=Italiana&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Julius+Sans+One&family=Libre+Barcode+128+Text&display=swap');


[data-testid="stSidebar"] {background-color:rgba(31, 32, 33, 0.705);}
[data-testid="column"] {margin-top: 0rem;}
[data-testid="stVerticalBlock"] {gap: 0.5rem; margin-top: 0.5rem;}
[data-testid="stHorizontalBlock"] {flex-grow: 0;}

[data-testid="stAlert"] {display: flex; justify-content: center; align-items: center;}
[data-testid="stNotificationContentInfo"] > div {gap: 0;}
[data-testid="stNotificationContentInfo"] > div > div > p {font-size: 0.875rem;}
[data-testid="stNotification"] {max-width: fit-content;}
[data-testid="stNotification"] > div {display: flex; justify-content: center;}

[data-baseweb="select"] > div {cursor: pointer;}
[data-testid="stMetricValue"] {font-size: 28px; padding: 0; color:rgba(250, 250, 250, 0.6);}
[data-testid="stMetricLabel"] {min-height:fit-content;}

[data-testid="stWidgetLabel"] > div > p {font-size: 0.875rem;}
[data-baseweb="checkbox"] > div {padding-left:0.25rem;}

[data-testid="stFileDropzoneInstructions"] > div > small {font-size: 0.75rem;}

/* section footer {visibility: hidden;} */

div.heading-con, div.heading-side {
    display: flex;
    height: 75px;
    flex-wrap: nowrap;
    white-space: nowrap;
}
div.heading-con {
    padding-left: 0.875rem;
    z-index: 20;
}
p.home-header {
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-family: 'Julius Sans One'; */
    /* font-family: 'Bruno Ace SC'; */
    /* font-family: 'Cute Font'; */
    /* font-family: 'Italiana'; */
    font-family: 'Libre Barcode 128 Text';
    letter-spacing: -2px;
    font-size: 3rem;
    margin: 0px;
}
span.header-i {
    font-family: 'Libre Barcode 128 Text';
    letter-spacing: -0.5px;
    font-style: oblique 27.5deg;
    font-size: 2.9rem;
    margin: 0 -0.5rem 0 -0.125rem;
    line-height: 4.825rem;
}
span.header-motto {
    font-family: 'JetBrains', monospace;
    color: #ffffff80;
    letter-spacing: -0px;
    line-height: 1rem;
    font-weight: 400;
    font-size: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 0.5rem;
}


div.header-cuda {
    display: inline-block;
    align-self: flex-start;
    text-align:justify;
    columns: 3;
    column-width: 6rem;
}
div.header-cuda p {
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(250, 250, 250, 0.6);
    font-size: 14px;
    column-span:none;
    margin: 0;
}
div.header-cuda p.vram {
    padding-left: 3rem;
}
div.header-cuda p span.cuda-info {
    color: rgb(61, 213, 109);
}


hr {
    border-bottom: 2px solid rgb(109, 63, 192);
    margin: 0;
}
