@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.825rem;
    top: 0;
    height: 75px;
    opacity: 0.3;
    margin-bottom: 0;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 133%;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(177, 228, 255) 20%, #27273c2d 95%);
}
.bgTop {
    z-index: 6;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 4;
    opacity: 0.75;
}
.bgBottom {
    z-index: 2;
    opacity: 1;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    filter: invert(85%);
}
.waveTop {
    background-size: 30% 50px;
}
.waveAnimation .waveTop {
    animation: move-wave 4s infinite;
    -webkit-animation: move-wave 4s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 65px;
    opacity: 0.8;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 25% 50px;
}
.waveAnimation .waveBottom {
    animation: move_wave 14s linear infinite;
}
