div.tab-con {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs {
    /* background: #FFFFFF; */
    /* background: transparent; */
    /* box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05); */
    width: 150px;
    height: 75px;
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: 0 1rem;
    box-sizing: border-box;
}
.tabs a label {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.tabs a label::before {
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 0% 100% 50% 50% / 0% 50% 50% 100%;
    transform: scale(1, 1) rotate(45deg);
    transform-origin: 50% 50%;
    background: #725AFC;
    display: block;
    position: absolute;
    top: -30px;
}
.tabs a label svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
.tabs a label svg .icon {
    fill: #C9CBD5; /* grey */
}
.tabs a label svg .icon-border {
    opacity: 0;
}
.tabs a label svg .icon-fill {
    border-radius: 50px;
    opacity: 0;
}
.tabs a label:hover::before {
    /* Apply the drop-animation when label is hovered */
    animation: drop-animation .35s ease-in both;
}
.tabs a label:hover svg {
    /* Apply the stretch-animation when label is hovered */
    animation: stretch-animation .5s ease-out .3s;
}
.tabs a label:hover svg .icon-border {
    /* Apply the clip-animation-border when label is hovered */
    animation: clip-animation-border .5s ease .3s forwards;
}
.tabs a label:hover svg .icon-fill {
    /* Apply the clip-animation when label is hovered */
    animation: clip-animation .5s ease .3s forwards;
}
@keyframes stretch-animation {
    25% {
    transform: scale3d(.9, 1.2, 1);
    margin-top: 10px;
    }
    75% {
    transform: scale3d(1.1, .95, 1);
    }
}
@keyframes drop-animation {
    70% {
    transform: scale(1, 2) rotate(45deg);
    top: -7px;
    }
    80% {
        z-index: 0;
    }
    100% {
    transform: scale(1.5, .5) rotate(45deg);
    top: 8px;
    z-index: -1;
    }
}
@keyframes clip-animation {
    from {
    opacity: 1;
    clip-path: circle(0% at 50% -20%);
    }
    to {
    opacity: 1;
    clip-path: circle(110% at top);
    }
}
@keyframes clip-animation-border {
    from {
    opacity: 1;
    clip-path: circle(20% at 50% -20%);
    }
    to {
    opacity: 1;
    clip-path: circle(130% at top);
    }
}


div.tip-container {
    position:fixed;
    /* top: 8px;
    left: 12px; */
    top: 95.5%;
    left: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tip-container a img {
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 133px;
    height: 37.34px;
    transition-duration: 450ms;
}
.tip-container a img.hover-image {
    filter: grayscale(100%);
    opacity: 0;
}
.tip-container:hover a img.hover-image {
    filter: grayscale(0);
    transform: scale(1.15);
    opacity: 1;
}
.tip-container a img.normal-image {
    filter: grayscale(100%);
}
.tip-container:hover a img.normal-image {
    transform: scale(1.15);
    opacity: 0;
}
